@model Card

@{
    ViewData["Title"] = "Index";
}


<div class="card text-center">
    <div class="card-header">
    @Html.Raw(@Model.Question)
    </div>
    <div class="card-body">
        <a asp-action="GetAnswer" asp-route-id="@Model.id">Get Answer</a>
    </div>
    <div class="card-footer text-muted">
        <a asp-action="GetCard" class="btn btn-dark">Get Another</a>
    </div>
</div>
