<div id="banner" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="small">Welcome To <span class="bold">Coding Interview Cards</span></h1>
                <p class="big">AN Easy way to ready for your coding interview</p>
                <a href="#" class="btn btn-banner">Learn More<i class="fa fa-send"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="cta-1">
    <div class="container">
        <div class="row text-center white">
            <h1 class="cta-title">Say Hello to the Jobs you Always Wanted !!</h1>
            <p class="cta-sub-title"></p>
        </div>
    </div>
</div>
